exportPattern("^[[:alpha:]]+")
importFrom("xtable", "xtable")
importFrom("grDevices", "dev.new")
importFrom("graphics", "legend", "plot", "text")
importFrom("stats", "cmdscale", "kmeans")
import(tm, lsa, proxy, stringr, jsonlite, cluster)
